<div class="d-flex">
    <div class="d-flex align-items-center flex-column"
        style="background-image: linear-gradient(to bottom,rgb(47, 38, 38),rgb(0, 0, 0)); height: 92vh; width: 250px;">
        <a routerLink="/dashboard" class="text-light mt-5 fs-5" style="text-decoration: none;">Dashboard</a>
        <a routerLink="/employee" class="text-light mt-4 fs-5" style="text-decoration: none;">Employees</a>
    </div>
    <div class="p-4 w-100">
        <div class="d-flex" style="height: 5vh;">
            <h3 class="text-dark">Employee Lists</h3>
            <a class="ms-auto" style="text-decoration: none;" routerLink="/add"><button
                    class="btn btn-outline-danger ms-auto"><i class="fa-solid fa-user-plus me-2"></i>Add</button></a>
        </div>
        <h5>{{adminLoginTime | date: "short"}}</h5>

        <div class="d-flex mt-4">
            <!-- input tag -->
            <input type="text" placeholder="Username" class="form-control w-25" [(ngModel)]="searchKey">

            <!-- dropdown button -->
            <div class="btn-group ms-3" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    sort
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="sortId()">by Id</a></li>
                    <li><a class="dropdown-item" (click)="sortName()">by Name</a></li>
                </ul>
            </div>

            <!-- export button -->
            <button class="btn btn-success ms-auto" (click)="generatePdf()">Export</button>

        </div>

        <div class="row w-100 mt-5">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table shadow">
                    <thead>
                        <tr>
                            <th class="p-4 bg-dark text-light">Employee Id</th>
                            <th class="p-4 bg-dark text-light">Employee Name</th>
                            <th class="p-4 bg-dark text-light">Email Id</th>
                            <th class="p-4 bg-dark text-light">Status</th>
                            <th class="p-4 bg-dark text-light text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of allEmployee | search:searchKey | paginate: { itemsPerPage: 5, currentPage: p }"
                            [hidden]="employee.id=='1'">
                            <th>{{employee.id}}</th>
                            <th>{{employee.username}}</th>
                            <th>{{employee.email}}</th>
                            <th><button
                                    [ngClass]="employee.status=='1'?'btn btn-success':'btn btn-warning'">{{employee.status=='1'?'Active':'Inactive'}}</button>
                            </th>
                            <th class="d-flex justify-content-evenly">
                                <a routerLink="/edit/{{employee.id}}"><button class="btn btn-outline-primary"><i
                                            class="fa-solid fa-pen"></i></button></a>
                                <button class="btn btn-outline-danger" (click)="deleteEmployee(employee.id)"><i
                                        class="fa-solid fa-trash"></i></button>
                            </th>
                        </tr>
                        <tr *ngIf="(allEmployee | search:searchKey).length==0">
                            <p class="text-danger text-center">Employee does not exist</p>
                        </tr>
                    </tbody>
                </table>

                <div class="w-100 d-flex justify-content-center align-items-center mt-5">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
</div>